@import url('https://fonts.google.com/specimen/Roboto+Flex');
@import url('https://fonts.google.com/specimen/Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Monospace');
@import url('https://fonts.google.com/specimen/Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto+Flex');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');



body {
  overflow: hidden;
  color: #fff;
  background-color: #F85555;
  font-family: "Press Start 2P", monospace;
}

h1{
    padding-left: 15%;
    font-family: 'Press Start 2P';
    text-decoration-line: underline;

    animation: flash 10s infinite;
    text-transform: uppercase;
    text-shadow: 4px 4px 16px rgb(0, 0, 0);

}

.flexbox-container {
  display: flex;
  flex-direction: row;
  margin-right: 20%;
}


h3{
  font-family: 'Press Start 2P';
  font-size: 1.5em;
  color: #ffffff;
  padding-right: 5%;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
  margin-right: 10%;
}

h3:hover{
  text-shadow: 2px 2px 6px rgb(36, 146, 248);
}

@media only screen and (max-width: 900px) {
  h3 {
    font-size: 15px;
  }
}

a{
  text-decoration: none;
  color:white;
}


  @keyframes flash {
    0% {
      color:#11E7F4;
      text-shadow: 4px 4px 0px black;
    }
    50% {
      color: rgb(255, 255, 255);
      text-shadow: 4px 4px 0px rgb(24, 194, 236);
    }
    100% {
      color: #11E7F4;
      text-shadow: 4px 4px 0px black;
    }
  }
  @keyframes bg {
    0% {
      background-size: 100%;
    }
    50% {
      background-size: 150%;
    }
    100% {
      background-size: 100%;
    }
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }


header
{ text-align: center;
  background-color: #f8555500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo
{  
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

  .social
{
  margin-left: 2%;
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

.flexbox-column {
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .flexbox-container {
    flex-direction: column;
    position: relative;
    top: 30px;
    border: 5px solid black;
    background-color: #11E7F4;
    padding: 20px;
    margin-right: 100px;
  }
  
  h1 {
    font-size: 20px;
    position: relative;
    right:30px;
  }

  a {
    color: #000000;
    text-shadow: none;
  }

  a:hover {
    text-shadow: 2px 2px 0px #fff;
  }

  .logo {
    position: relative;
    bottom:15px;

  }

}

.flex { display: -webkit-flex; display: flex; -webkit-flex-direction: row;  flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start;}

.slider-wrapper div {position: relative;}
.slider-wrapper {margin-top: 12vw;  margin-left: 11vw;}
.slide-image {margin-top: 5vw; height: 10vw;}
.slide-image img { width: 10vw; cursor: pointer; display: flex; align-content: center; justify-content: center;}
.slide-content {width: 25vw; color: #fff; padding:3vw 18vw 3vw 9vw;}
.slide-date {color: #0a8acb; font-size: 1.1vw; font-weight: 400; letter-spacing: 0.1vw; padding-bottom: 1.4vw;}
.slide-title {font-size: 1.2vw; font-weight: 400; letter-spacing: 0.1vw; line-height: 1.55vw; padding-bottom: 1.8vw;}
.slide-text {font-size: 0.80vw; line-height: 1.2vw; opacity: 0.8; padding-bottom: 4vw;}
.slide-more {font-weight: 400; letter-spacing: 0.1vw; float: left; font-size: 0.9vw;}
.slide-bullet {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}
.slide-nav {margin-left: 64vw; margin-top: -5.5vw;}

div.overlay-blue {width: 100%; height: 100%; position: absolute; top: 0; transition: 0.5s ease all;}
div.overlay-blue:hover {background-color: rgba(13, 27, 43, 0.5);}

.arrows{width: 3.5vw; margin-top: -4.5vw; margin-left: 60vw; position: relative;}
.arrow {display: inline-block; position: absolute; width: 1.2vw; height: 1.2vw; background: transparent; text-indent: -9999px; border-top: 0.15vw solid #fff; border-left: 0.15vw solid #fff; transition: all .1s ease-in-out; text-decoration: none; color: transparent;
}
.arrow:hover {border-color: #0A8ACB; border-width: 0.25vw;
}
.arrow:before {display: block; height: 200%; width: 200%; margin-left: -50%; margin-top: -50%; content: ""; transform: rotate(45deg);}
.arrow.prev {transform: rotate(-45deg); left: 0;}
.arrow.next {transform: rotate(135deg); right: 0;}